<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wisata">
        <activity
            android:name=".Edukasi"
            android:exported="false" />
        <activity android:name=".Kampoong" />
        <activity android:name=".Pondok" />
        <activity android:name=".Vihara" />
        <activity android:name=".Gereja" />
        <activity android:name=".Masjid" />
        <activity android:name=".WisataReligi" />
        <activity android:name=".WisataKuliner" />
        <activity android:name=".Pustaka" />
        <activity android:name=".KebunBinatang" />
        <activity android:name=".Museum" />
        <activity android:name=".WisataEdukasi" />
        <activity android:name=".Curug" />
        <activity android:name=".Jembangan" />
        <activity android:name=".GoaJatijajar" />
        <activity android:name=".WadukSempor" />
        <activity android:name=".Pantai" />
        <activity android:name=".WisataAlam" />
        <activity android:name=".Bukit" />
        <activity android:name=".Alam" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>